# **ISE 533 - Project 2 - Meal Plan Problem - Data Cleaning 2**

Group 6:<br/>
Qianran Ma (7798937244)<br/>  Wanning Li (5898212888)<br/> 
Yanan Zhou (4366462176)<br/> 
Yuxuan Cheng (1278632602)<br/>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import pandas as pd
import numpy as np

import json
import string
import re

In [ ]:
# cooking time
with open('gdrive/My Drive/project2/data/cooking_time.json', 'r') as ct:
    cooking_time = json.load(ct)

cooking_time = pd.DataFrame(cooking_time, index = ['time']).T
cooking_time['title'] = cooking_time.index
cooking_time.index = range(len(cooking_time['title']))
cooking_time

     time                                              title
0    75.0  Vietnamese-Style Spaghetti Squash “Noodle” Bow...
1    45.0  Freeform Chicken Meatballs with Carrots and Yo...
2    20.0  Grain Bowls with Chicken, Spiced Chickpeas, an...
3    45.0  Ancho Chile Pork Tenderloin with Brussels Spro...
4    20.0        Shrimp with Herby White Beans and Tomatoes
..    ...                                                ...
107  10.0  10-Minute Chicken Flatbreads with Hummus and Y...
108  25.0               Sausage and Greens Sheet-Pan Dinner
109  30.0                               White Chicken Chili
110  45.0  One-Pot Curried Cauliflower with Couscous and ...
111  20.0  Hummus Dinner Bowls with Spiced Ground Beef an...

[112 rows x 2 columns]

In [ ]:
# price 
with open('gdrive/My Drive/project2/data/recipe_prices.json', 'r') as pr:
    price = json.load(pr)

price = pd.DataFrame(price, index = ['price']).T
price['title'] = price.index
price.index = range(len(price['title']))
price

      price                                              title
0     9.190          Curried Lentil, Tomato, and Coconut Soup
1     4.130  Roasted Butternut Squash with Herb Oil and Goa...
2     5.330  Chopped Salad with Shallot Vinaigrette, Feta, ...
3     6.420  Grain Salad with Olives and Whole-Lemon Vinaig...
4     2.120  Vietnamese-Style Spaghetti Squash “Noodle” Bow...
..      ...                                                ...
191   9.860  Twice-Roasted Squash with Parmesan Butter and ...
192   7.880                 Kabocha Squash Pilaf with Coconut
193   6.839                               White Chicken Chili
194   9.208  One-Pot Curried Cauliflower with Couscous and ...
195  10.070  Hummus Dinner Bowls with Spiced Ground Beef an...

[196 rows x 2 columns]

In [ ]:
# dish list
with open('gdrive/My Drive/project2/data/result.json', 'r') as f:
    data = json.load(f)
data = pd.DataFrame(data)
data

,title,rating,calories,sodium,fat,protein,personal_rating
0,"Curried Lentil, Tomato, and Coconut Soup",5.0,437.0,667.0,28.0,13.0,"[[rhaeredekop from Winnipeg, MB , 5], [lizgold..."
1,Roasted Butternut Squash with Herb Oil and Goa...,4.5,175.0,576.0,9.0,4.0,"[[ilyssa2 from NY, NY , 5], [dory92064 from Sa..."
2,Pumpkin Muffins,4.0,364.0,183.0,11.0,6.0,"[[mtnmeye , 3], [greenstein.rebecca9820 from N..."
3,"Chopped Salad with Shallot Vinaigrette, Feta, ...",5.0,170.0,413.0,13.0,6.0,"[[brushjl from solon, oh , 5], [tatyana_poirie..."
4,Grain Salad with Olives and Whole-Lemon Vinaig...,3.5,330.0,483.0,19.0,8.0,"[[auntwebbie from Allen, TX , 5], [krf from Be..."
...,...,...,...,...,...,...,...
293,One-Pot Curried Cauliflower with Couscous and ...,4.5,606.0,1365.0,15.0,27.0,"[[mkopke from Toronto, Canada , 4], [akraemer1..."
294,Acorn Squash with Kale and Sausage,4.5,NaN,NaN,NaN,NaN,"[[sminkoff , 3], [emdean from Madison, WI , 5]..."
295,Hummus Dinner Bowls with Spiced Ground Beef an...,4.5,329.0,327.0,26.0,20.0,"[[bradley2 from Foodietown, ,PA , 4], [chaurie..."
296,Autumn Kale Salad,5.0,287.0,329.0,22.0,4.0,"[[dottie60 from Boston , 5], [zeta from Victor..."
297,Pumpkin Icebox Pie With Snickerdoodle Crust,4.5,3597.0,1869.0,223.0,33.0,"[[Lois33 from EGR, Michigan , 5], [mccoyj25 fr..."

In [ ]:
data.isnull().sum()

title               9
rating              9
calories           42
sodium             42
fat                42
protein            42
personal_rating    13
dtype: int64

In [ ]:
len(data[(data['title'].isnull() == True) | (data['title'].isnull() == True) | 
     (data['rating'].isnull() == True) | (data['calories'].isnull() == True) |
     (data['personal_rating'].isnull() == True) | (data['personal_rating'].isnull() == '[]')].index)

/Users/zhouyanan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

46

In [ ]:
data_nan = data.dropna()
data_nan

,title,rating,calories,sodium,fat,protein,personal_rating
0,"Curried Lentil, Tomato, and Coconut Soup",5.0,437.0,667.0,28.0,13.0,"[[rhaeredekop from Winnipeg, MB , 5], [lizgold..."
1,Roasted Butternut Squash with Herb Oil and Goa...,4.5,175.0,576.0,9.0,4.0,"[[ilyssa2 from NY, NY , 5], [dory92064 from Sa..."
2,Pumpkin Muffins,4.0,364.0,183.0,11.0,6.0,"[[mtnmeye , 3], [greenstein.rebecca9820 from N..."
3,"Chopped Salad with Shallot Vinaigrette, Feta, ...",5.0,170.0,413.0,13.0,6.0,"[[brushjl from solon, oh , 5], [tatyana_poirie..."
4,Grain Salad with Olives and Whole-Lemon Vinaig...,3.5,330.0,483.0,19.0,8.0,"[[auntwebbie from Allen, TX , 5], [krf from Be..."
...,...,...,...,...,...,...,...
292,White Chicken Chili,5.0,534.0,968.0,14.0,45.0,"[[lmanderson from Maryland , 5], [debkane from..."
293,One-Pot Curried Cauliflower with Couscous and ...,4.5,606.0,1365.0,15.0,27.0,"[[mkopke from Toronto, Canada , 4], [akraemer1..."
295,Hummus Dinner Bowls with Spiced Ground Beef an...,4.5,329.0,327.0,26.0,20.0,"[[bradley2 from Foodietown, ,PA , 4], [chaurie..."
296,Autumn Kale Salad,5.0,287.0,329.0,22.0,4.0,"[[dottie60 from Boston , 5], [zeta from Victor..."
297,Pumpkin Icebox Pie With Snickerdoodle Crust,4.5,3597.0,1869.0,223.0,33.0,"[[Lois33 from EGR, Michigan , 5], [mccoyj25 fr..."

In [ ]:
data_nan.isnull().sum()

title              0
rating             0
calories           0
sodium             0
fat                0
protein            0
personal_rating    0
dtype: int64

In [ ]:
data_merge_price = data_nan.merge(price, how = 'inner', on = 'title')
data_merge_price

,title,rating,calories,sodium,fat,protein,personal_rating,price
0,"Curried Lentil, Tomato, and Coconut Soup",5.0,437.0,667.0,28.0,13.0,"[[rhaeredekop from Winnipeg, MB , 5], [lizgold...",9.190
1,Roasted Butternut Squash with Herb Oil and Goa...,4.5,175.0,576.0,9.0,4.0,"[[ilyssa2 from NY, NY , 5], [dory92064 from Sa...",4.130
2,"Chopped Salad with Shallot Vinaigrette, Feta, ...",5.0,170.0,413.0,13.0,6.0,"[[brushjl from solon, oh , 5], [tatyana_poirie...",5.330
3,Grain Salad with Olives and Whole-Lemon Vinaig...,3.5,330.0,483.0,19.0,8.0,"[[auntwebbie from Allen, TX , 5], [krf from Be...",6.420
4,Vietnamese-Style Spaghetti Squash “Noodle” Bow...,4.5,503.0,1574.0,34.0,29.0,"[[lfox18 from Ballston Lake, NY , 5], [hairbra...",2.120
...,...,...,...,...,...,...,...,...
171,Twice-Roasted Squash with Parmesan Butter and ...,2.0,507.0,1156.0,24.0,6.0,"[[yazbeansaysmeow from Washington, DC , 2]]",9.860
172,Kabocha Squash Pilaf with Coconut,3.0,259.0,253.0,7.0,4.0,"[[jordan80 from West Orange, NJ , 3]]",7.880
173,White Chicken Chili,5.0,534.0,968.0,14.0,45.0,"[[lmanderson from Maryland , 5], [debkane from...",6.839
174,One-Pot Curried Cauliflower with Couscous and ...,4.5,606.0,1365.0,15.0,27.0,"[[mkopke from Toronto, Canada , 4], [akraemer1...",9.208
175,Hummus Dinner Bowls with Spiced Ground Beef an...,4.5,329.0,327.0,26.0,20.0,"[[bradley2 from Foodietown, ,PA , 4], [chaurie...",10.070

In [ ]:
data_final = data_merge_price.merge(cooking_time, how = 'inner', on = 'title')
data_final

,title,rating,calories,sodium,fat,protein,personal_rating,price,time
0,Vietnamese-Style Spaghetti Squash “Noodle” Bow...,4.5,503.0,1574.0,34.0,29.0,"[[lfox18 from Ballston Lake, NY , 5], [hairbra...",2.120,75.0
1,Freeform Chicken Meatballs with Carrots and Yo...,4.5,488.0,985.0,32.0,29.0,"[[smallbluebird from SF Bay Area , 5], [enpec...",9.889,45.0
2,"Grain Bowls with Chicken, Spiced Chickpeas, an...",4.5,1448.0,784.0,102.0,56.0,"[[Anna D from San Diego, CA , 4], [alenarz fro...",7.759,20.0
3,Ancho Chile Pork Tenderloin with Brussels Spro...,4.5,620.0,1482.0,31.0,53.0,"[[zoeycooks from Boston, MA , 4], [enietupski...",2.780,45.0
4,Shrimp with Herby White Beans and Tomatoes,4.5,578.0,1151.0,23.0,34.0,"[[flagg , 5], [delaniepope from Grand Rapids ,...",2.260,20.0
...,...,...,...,...,...,...,...,...,...
98,10-Minute Chicken Flatbreads with Hummus and Y...,4.5,463.0,917.0,18.0,35.0,"[[maurini from Galveston, TX , 5], [joyq.cabre...",3.839,10.0
99,Sausage and Greens Sheet-Pan Dinner,4.5,665.0,855.0,63.0,17.0,"[[marywayland , 3], [blwyxx4163 from Durango, ...",8.862,25.0
100,White Chicken Chili,5.0,534.0,968.0,14.0,45.0,"[[lmanderson from Maryland , 5], [debkane from...",6.839,30.0
101,One-Pot Curried Cauliflower with Couscous and ...,4.5,606.0,1365.0,15.0,27.0,"[[mkopke from Toronto, Canada , 4], [akraemer1...",9.208,45.0
102,Hummus Dinner Bowls with Spiced Ground Beef an...,4.5,329.0,327.0,26.0,20.0,"[[bradley2 from Foodietown, ,PA , 4], [chaurie...",10.070,20.0

In [ ]:
data_final.to_csv('gdrive/My Drive/project2/data/alldish.csv')